

body {

    background-color: #F2EAD3 ;
}
#app nav {
    background-color: #C4C4C4 ;
}
#app nav a {
    font-size: 1.3rem;
}
.content-container {
    margin-top: -1.23%;
    width: 100%;
}
header {
    position: relative;
    background: url('../images/bghead.jpg') center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

}

header:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: 2;
}
footer{
    background: #C4C4C4;
}
.inner {
    position: relative;
    z-index: 3;
    color: #fff;
    text-align: center;
    padding: 300px;
}
.inner h1{
    margin-top: -10%;
    font-size: 5.3rem;
    color: #F2EAD3 ;
}

.background-sets{
    position: relative;
    z-index: 3;
    margin-left: 0px;
    margin-top: -7.5%;
    width: 100%;
    height: 900px;
    transform: skew(0, -7deg);

    background: #F2EAD3;
    border-color: #C4C4C4;
    border-style: solid;
    border-width: 4px  0px 4px 0px;
}
.background-sets h1 {
    font-size: 4.3rem;
    transform: skew(0, 7deg);
    margin-left: 78%;
    margin-top: 3.5%;
}
.sets {
    transform: skew(0, 7deg);
}
.sets h2{
    text-align: center;
}
.sets-card{

    float: left;
    margin-top: 6%;
    margin-left: 10%;
    width: 20%;
    height: 550px;
    /*border: black solid 1px;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#set {
    width: 300px;
    margin-top: 6%;
    margin-left: 10px;
    /*border: black solid 1px;*/
}
.sets-card img{
    width: 75%;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.sets-card h3{
    font-size: 1.9rem;
    text-align: center;
}
.sets-button{
    
    background-color: #277b29;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.9rem;
}

.sets-price{
    white-space:nowrap;
    text-align: center;
}
.sets-price h5{display:inline-block;}


.background-products h1 {

    font-size: 5.3rem;

    margin-left: 78%;
    margin-top: -2.5%;
}
.item_count {
    width: 14%;
    display: block;
    margin: 0 auto;
}
.products h2{
    text-align: center;
}
.shopping_list {
    margin-top: 1%;
    margin-left: 8%;
    z-index: 5;
    position: fixed;
    background-color: #F2EAD3;
}

.end_shopping_list{
    float: left;
    width: 20%;
    margin-left: 30%;
}
.form{
    float: left;
    margin-left: 40px;
}

.hline{

    

    height: 300px;
    white-space:nowrap;
}
.hline-ss{
    float: left;

    position: relative;
    height: 100%;
    width: 33%;
    display:inline-block;
}
.hline-logo{position: relative;
    float: left;

    height: 100%;
    width: 33%;
    display:inline-block;}
.hline-adr{
    float: left;

    position:relative;
    height: 100%;
    width: 33%;
    display:inline-block;}

.hline-ss img {

    width: 8%;
    display: block;
    margin: 0 auto;
    margin-top: 19% ;
}
.hline-logo img {

    display: block;
    margin: 0 auto;
    margin-top: 6% ;
    width: 38%;
}
.hline-adr img {
    float: left;
    width: 8%;
    margin-left: 21% ;
    margin-top: 19% ;

}
.hline-adr p {
    float: left;
    margin-top: 19% ;
    margin-left: 3% ;
    font-size: 1.9rem;
}

/* User styles */
@media screen and (min-width: 911px) {
    .ant-carousel {
        max-width: 73%;
    }
}

@media screen and (min-width: 641px) and (max-width: 910px) {
    .ant-carousel {
        max-width: 540px;
    }
}

@media screen and (max-width: 640px) {
    .ant-carousel {
        max-width: 270px;
    }
}

.ant-carousel {
    margin: 10px auto auto;
    padding-top: 10px;
    background-color: #F2EAD3;
}

.ant-carousel-element {

    text-align: center;
}

/* General styles */
.ant-carousel {
    height: 600px;
    width: auto;
    position: relative;
}

.ant-carousel-hider {
    overflow: hidden;
}

.ant-carousel-list {
    height: 600px;
    width: auto;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
}

.ant-carousel-element {
    display: block;
    flex: 0 0 auto;
}

/* Navigation item styles */
div.ant-carousel-arrow-left,
div.ant-carousel-arrow-right {
    width: 22px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    opacity: 0.6;
    z-index: 32;
}

div.ant-carousel-arrow-left {
    left: -40px;
    top: 40%;
    display: block;
    background: url("http://pvbk.spb.ru/inc/carousel/ant-files/ant-arrow-left.png") no-repeat;
}

div.ant-carousel-arrow-right {
    right: -40px;
    top: 40%;
    display: block;
    background: url("http://pvbk.spb.ru/inc/carousel/ant-files/ant-arrow-right.png") no-repeat;
}

div.ant-carousel-arrow-left:hover {
    opacity: 1.0;
}

div.ant-carousel-arrow-right:hover {
    opacity: 1.0;
}

div.ant-carousel-dots {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: -30px;
    z-index: 30;
    text-align: center;
}

span.ant-dot {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    padding: 0;
    display: inline-block;
    background-color: #BBB;
    border-radius: 5px;
    cursor: pointer;
}
#send_button{
    width: 250px;
    background-color: #277b29;
    text-align: center;
    display: block;

    font-size: 1.9rem;
}
#alt_send_button{
    width: 250px;
    background-color: #277b29;
    text-align: center;
    display: block;

    font-size: 1.9rem;
}
.catering img {
    width: 50%;
}